// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.search-box .govuk-form-group {
  margin-left: 20px;
  margin-bottom: 10px;
}

.search-box {
  position: relative;
}

.search-box .govuk-input {
  padding-right: 45px;
  width: 100%;
}

.search-box .search-button,
.search-box .search-button:active {
  position: absolute;
  bottom: 2px;
  right: 2px;
  border-width: 0 0 0 2px;
  border-style: solid;
  border-left-color: #000;
  box-sizing: border-box;
  margin-bottom: 0;
  cursor: pointer;
  border-radius: 0;
  padding: 0;
  width: 38px;
  height: 36px;
  background-image: url(../images/search-icon.png);
  background-repeat: no-repeat;
  background-position: 2px 50%;
  text-indent: 115%;
  overflow: hidden;
  white-space: nowrap;
  background-color: #1d70b8;
  box-shadow: none;
}

.search-box .search-button:hover, .search-box .search-button:focus,
.search-box .search-button:active:hover,
.search-box .search-button:active:focus {
  background-color: #003078;
}

 .govuk-cards__item {
  box-sizing: border-box;

  @include govuk-media-query($until: tablet) {
      margin-bottom: 20px;
  }

  @include govuk-media-query($from: tablet) {
      float: left;
      margin-bottom: 40px;
  }

  @include govuk-media-query($from: desktop) {
      width: 33.333333%;

      &:not(:nth-child(3n+3)) {
          padding-right: 20px;
      }
  }

  @include govuk-media-query($from: tablet, $until: desktop) {
      width: 50%;

      &:not(:nth-child(2n+2)) {
          padding-right: 15px;
      }
  }
}

/**
* V2 cards with background colour
*/
.govuk-cards::after,
.govuk-cards--2::after,
.govuk-cards--3::after {
  content: '';
  display: block;
  clear: both;
}

.govuk-cards--2__item {
  box-sizing: border-box;
  border: 1px solid #b1b4b6;
  background-color: #f3f2f1;
  padding: 20px;
  margin-bottom: 20px;
  float: left;

  :last-child {
      margin-bottom: 0;
  }

  @include govuk-media-query($from: desktop) {
    width: calc(33% - 11px);
    min-height: 220px;

    &.govuk-card--company {
        width: calc(66.8% - 10px);
    }

    &:not(:nth-child(3n+3)) {
        margin-right: 20px;
    }

    .govuk-cards--3 &.govuk-card--contacts {
        margin-right: 0;
    }
  }

  @include govuk-media-query($from: tablet, $until: desktop) {
    width: calc(50% - 8px);
    min-height: 220px;

    &.govuk-card--company {
        width: calc(66% - 8px);
    }

    &:not(:nth-child(2n+2)) {
        margin-right: 15px;
    }

    .govuk-cards--3 &.govuk-card--contacts {
        margin-right: 0;
    }
  }

  @include govuk-media-query($until: tablet) {
    width: 100%;

    &.govuk-card--company {
        width: 100%;
    }
  }
}
