{% extends "layout.html" %}

{% block pageTitle %}
  Enrich
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">Requests awaiting reporting data</h1>

  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--s">Requests</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-body-s">Scheme</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-body-s">FRN</th>
        <th scope="col" class="govuk-table__header govuk-body-s">Application ID</th>
        <th scope="col" class="govuk-table__header govuk-body-s">Invoice</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-body-s">Request</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-body-s">Total amount</th>
        <th scope="col" class="govuk-table__header govuk-body-s">Arrived</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-body-s">SFI</td>
        <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">1234567890</td>
        <td class="govuk-table__cell govuk-body-s">SFIP1234567</td>
        <td class="govuk-table__cell govuk-body-s">SFI12345678</td>
        <td class="govuk-table__cell govuk-table__header--numeric govuk-body-s">2</td>
        <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">£1,000.00</td>
        <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">19/01/2022</td>
        <td class="govuk-table__cell govuk-body-s"><a href="/enrich-request">Enrich</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-body-s">SFI Pilot</td>
        <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">1234567891</td>
        <td class="govuk-table__cell govuk-body-s">SFIP1234568</td>
        <td class="govuk-table__cell govuk-body-s">SFI12345679</td>
        <td class="govuk-table__cell govuk-table__header--numeric govuk-body-s">4</td>
        <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">£9,454.40</td>
        <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">14/01/2022</td>
        <td class="govuk-table__cell govuk-body-s"><a href="/enrich-request">Enrich</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-body-s">SFI Pilot</td>
        <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">1234567892</td>
        <td class="govuk-table__cell govuk-body-s">SFIP1234569</td>
        <td class="govuk-table__cell govuk-body-s">SFI12345671</td>
        <td class="govuk-table__cell govuk-table__header--numeric govuk-body-s">2</td>
        <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">£10,120.10</td>
        <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">11/01/2022</td>
        <td class="govuk-table__cell govuk-body-s"><a href="/enrich-request">Enrich</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-body-s">SFI Pilot</td>
        <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">1234567893</td>
        <td class="govuk-table__cell govuk-body-s">SFIP1234566</td>
        <td class="govuk-table__cell govuk-body-s">SFI12345677</td>
        <td class="govuk-table__cell govuk-table__header--numeric govuk-body-s">2</td>
        <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">£130.00</td>
        <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">19/01/2022</td>
        <td class="govuk-table__cell govuk-body-s"><a href="/enrich-request">Enrich</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-body-s">SFI</td>
        <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">1234567894</td>
        <td class="govuk-table__cell govuk-body-s">SFIP1234565</td>
        <td class="govuk-table__cell govuk-body-s">SFI12345676</td>
        <td class="govuk-table__cell govuk-table__header--numeric govuk-body-s">2</td>
        <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">£8.00</td>
        <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">19/01/2022</td>
        <td class="govuk-table__cell govuk-body-s"><a href="/enrich-request">Enrich</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-body-s">SFI</td>
        <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">1234567895</td>
        <td class="govuk-table__cell govuk-body-s">SFIP1234564</td>
        <td class="govuk-table__cell govuk-body-s">SFI12345675</td>
        <td class="govuk-table__cell govuk-table__header--numeric govuk-body-s">5</td>
        <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">£100,060.00</td>
        <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">14/01/2022</td>
        <td class="govuk-table__cell govuk-body-s"><a href="/enrich-request">Enrich</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-body-s">SFI Pilot</td>
        <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">1234567896</td>
        <td class="govuk-table__cell govuk-body-s">SFIP1234563</td>
        <td class="govuk-table__cell govuk-body-s">SFI12345672</td>
        <td class="govuk-table__cell govuk-table__header--numeric govuk-body-s">4</td>
        <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">£4,000.00</td>
        <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">19/01/2022</td>
        <td class="govuk-table__cell govuk-body-s"><a href="/enrich-request">Enrich</a></td>
      </tr>
    </tbody>
  </table>

{% endblock %}
