{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Request editor</h1>

    <h2 class="govuk-heading-m"><a href="/capture">Capture reporting data</a></h2>
    <p>Capture reporting data for recoveries prior to arrival in request editor.</p>

    <h2 class="govuk-heading-m"><a href="/enrich">Enrich pending requests</a></h2>
    <p>Enrich recoveries already in request editor.</p>

    <h2 class="govuk-heading-m"><a href="/quality-check">Quality check request editing</a></h2>
    <p>Review changes made to requests.</p>

  </div>
</div>

{% endblock %}
